body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
  }

  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://i.pinimg.com/originals/8e/1e/ee/8e1eeeb11a3272b3ea70b5311dbcab85.png);
    background-size: cover;
    color: white;
    /* text-align: center; */
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    letter-spacing: 5px;
    margin-bottom: 40px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 30px;
  }
  
  .btn-wrapper {
    padding-top: 40px;
    margin: 10px 0;
    font-size: larger;
  }
  
  .signup {
    background-color: #b392ac;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 85px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    width: 200px;
    margin-top: 0px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
	  line-height: 65px;
  }
  
  .header-right :hover {
    background-color: #edafb8;
	  color:rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  .header-right a {
    /* line-height: 65px; */
    padding: 0 25px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 25px;
  }

	.header-right ul{
		padding: 0;
		margin: 0;
	}
	 
	 .header-right ul li{
		float: left;
		list-style-type: none;
		padding: 10px;
	}

.registration-wrapper {
    margin-top: 80px;
    height: 1200px;
    padding: 80px;
    background-color: #f4ffce;
    align-items: center;
    display: inline-block;
    width: 100%;
}

.first-image {
  background-image: url("http://www.southeastern.edu/news_media/news_releases/2016/april/images/slu_bigevent.jpg");
}

.registration-form {
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px;
}

.registration-form input{
    border-width: 1px;
    border-radius: 100px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(211, 142, 185);
    
}

.registration-form ul {
  list-style-type: none;
  text-align: center;
  align-items: center;
  font-size: 20px;

}

.registration-form ul h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit-button {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #e099a4;
  border: 2px solid #e099a4;
}

.submit-button:hover {
  background-color: white;
  border: 2px solid #e099a4;
  color: black;
  font-style: bold;
}

footer p {
  color: #ffff;
  font-size: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b392ac;
}