body {
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      a {
        text-decoration: none;
      }
    
      .container {
        width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
      }
      
      .top-wrapper {
        padding: 180px 0 100px 0;
        background-image: url(https://i.pinimg.com/originals/8e/1e/ee/8e1eeeb11a3272b3ea70b5311dbcab85.png);
        background-size: cover;
        color: white;
        /* text-align: center; */
      }
      
      .top-wrapper h1 {
        opacity: 0.7;
        letter-spacing: 5px;
        margin-bottom: 40px;
      }
      
      .top-wrapper p {
        opacity: 0.7;
        margin-bottom: 30px;
      }
      
      .btn-wrapper {
        padding-top: 40px;
        margin: 10px 0;
        font-size: larger;
      }
      
      .signup {
        background-color: #b392ac;
      }
    
      .btn {
        padding: 12px 24px;
        color: rgb(255, 255, 255);
        display: inline-block;
        opacity: 0.8;
        border-radius: 4px;
      }
      
      .btn:hover {
        opacity: 1;
      }
      
      .fa {
        margin-right: 5px;
      }
      
      header {
        height: 85px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        z-index: 100;
      }
      
      .logo {
        width: 200px;
        margin-top: 0px;
      }
      
      .header-left {
        float: left;
      }
      
      .header-right {
        float: right;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.5s;
              line-height: 65px;
      }
      
      
      
      .header-right a {
        /* line-height: 65px; */
        padding: 0 25px;
        color: rgb(0, 0, 0);
        display: block;
        font-size: 25px;
      }

      .header-right a:hover {
        background-color: #edafb8;
        color:rgb(255, 255, 255);
        border-radius: 15px;
      }
    
      .header-right ul{
          padding: 0;
          margin: 0;
      }
             
      .header-right ul li{
          float: left;
          list-style-type: none;
          padding: 10px;
      }

      .header-right ul li img {
          align-items: center;
          padding: 10px;
      }

      .header-right ul li img:hover {
          background-color: white;
          border: none;
      }

      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: black;
        font-size: 25px;
        padding: 0 25px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }

      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #edafb8;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      


      
      
      .lesson-wrapper {
        height: 800px;
        padding-bottom: 80px;
        background-color: #f4ffce;
        text-align: center;
      }
      
      .heading {
        padding-top: 60px;
        padding-bottom: 30px;
        color: #5f5d60;
      }
      
      .heading h2 {
        font-weight: normal;
        font-size: 30px;
      }
      
      .heading h3 {
        font-weight: normal;
      }
      
      .lesson {
        float: left;
        width: 25%;
      }
      
      .lesson-icon {
        position: relative;
      }
      
      .lesson-icon p {
        position: bottom;
        top: 90px;
        width: 100%;
        color: rgb(123, 54, 54);
      }
      
      .txt-contents {
        width: 80%;
        display: inline-block;
        margin-top: 20px;
        font-size: 15px;
        color: #37223f;
      }
      
      .message-wrapper {
        border-bottom: 1px solid #eee;
        padding-bottom: 80px;
        text-align: center;
      }
    
    
      .fact {
        font-family: 'billabong';
        text-align: center;
        font-size: 4rem;
        font-weight: 10;
        margin: 2rem 0;
        letter-spacing: -1px;
        color: black;
      }
    
      .box {
        background-color: #8dd5da;
        width: 90%;
        padding: 50px 50px 50px 50px;
        /* float: left;  */
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
      }

      .login-box-body
      input[type=text], select {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(211, 142, 185);
        border-radius: 100px;
        box-sizing: border-box;
        outline: none;
      }
      input[type=password], select {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(211, 142, 185);
        border-radius: 100px;
        box-sizing: border-box;
        outline: none;
      }
      
    
      footer p {
        color: #ffff;
        font-size: 12px;
      }
      
      footer {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #b392ac;
      }

    
    @font-face {
        font-family: 'billabong';
        src:url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
    }